/* Penerbitan.php */
    html,
    body {
      height: 100%;
      font-family: "Roboto", sans-serif;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }

    .sidebar {
      min-height: 100vh;
    }

    section {
      display: none;
    }
    section.active {
      display: block;
    }

    .btn-upload {
      display: flex;
      justify-content: flex-end;
    }

    .modal-content {
      background-color: rgba(40, 40, 40, 0.95);
      backdrop-filter: blur(6px);
    }

    /* MOBILE STYLING */
    @media (max-width: 991.98px) {
      .sidebar {
        display: none;
      }

      .offcanvas-sidebar {
        width: 80%;
        background-color: #f8f9fa;
      }

      .navbar .menu-btn {
        border: none;
        background: none;
        color: white;
        font-size: 1.6rem;
      }

      .navbar-brand h3 {
        font-size: 1.25rem;
      }

      .navbar img[alt="Logo"] {
        width: 50px;
      }

      main .col-md-9 {
        width: 100%;
      }
    }



